<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<title>Gene Tool: About</title>
	{% load static %}
	<link href="{% static 'css/gene_tool_style.css'%}" rel="stylesheet">
</head>

<body>
	<div class="float-container">
		<div>
			<img  id="hero-img" src="https://cdn.discordapp.com/attachments/992368481393709076/994057522019303504/UCR_hero_2.4-hd-50pct-trans.png" alt="UCR Hero Image and Title">
		</div>
		<div class="flex-container">
			<div id="hold-right">
				<a href="./help">Help</a>
			</div>
			<div>
				<div class="flex-container-vertical">
					<div>
						<a href="./about">About</a>
					</div>
					<div>
						<a id="push-right" href="./">Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="brief">
		<h1>About the Project</h1>
		<p><span class="accent-grey">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

</body>

</html>